.crafting-table {
	display: flex;
}

.crafting-table-container {
	display: flex;
  	background-color: #ccc;
  	align-items: center;
  	flex-basis: auto;
}

.crafting-table-container > .crafting-table-input {
	padding-right: 1em;
}

.crafting-table-button {
	/* background-color: #ac8; */
	background-color: #ca8;
	padding: 0.5em;
	text-align: center;
	border: 0.1em solid black;
	margin: 1em;
}

.crafting-table-button:hover {
	text-decoration: line-through;
}

.crafting-table-button-valid {
	background-color: #ad8;
}

.crafting-table-button-valid:hover {
	background-color: #ac8;
}

.block {
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	z-index: 10;
}

.inventory-slot {
	display: flex;
	position: relative;
  	align-items: center;
	justify-content: center;
  	flex-basis: auto;
}

.inventory-table {
	padding: 1em;
}

.inventory-table td {
	height: 2em;
	width: 2em;
	border: 0.1em solid black;
	position: relative;
	margin: 2em;
	background-color: #888;
}

.inventory-table td:hover {
	background-color: #666;
}

.inventory-table {
	background-color: #ccc;
}
